<h4>{{title}}</h4>
<form [formGroup]="frmTipoImpuesto" *ngIf="vObj" novalidate >
    <input formControlName="id" type="hidden" id="id" name="id" />
    <div>
        <mdl-textfield 
                type="text" id="codigo" name="codigo" placeholder="codigo" maxlength="10" required
                formControlName="codigo" [disabled]="!esNuevo" 
                label="Código" floating-label>
        </mdl-textfield>
        
        <div [hidden]="!(frmTipoImpuesto.controls.codigo.touched && !frmTipoImpuesto.controls.codigo.valid)">
            <span class="fieldvalidate-error">
                <i> {{ errors( 'codigo' ) }}</i>
            </span>
        </div>
    </div>  
    <div>
        <mdl-textfield 
                formControlName="codigo_alternativo"
                type="text" id="codigo_alternativo" name="codigo_alternativo" placeholder="codigo alternativo" maxlength="10" required 
                label="Código alternativo" floating-label >
        </mdl-textfield>
        
        <div [hidden]="!(frmTipoImpuesto.controls.codigo_alternativo.touched && !frmTipoImpuesto.controls.codigo_alternativo.valid)">
            <span class="fieldvalidate-error">
                <i> {{ errors( 'codigo_alternativo' ) }}</i>
            </span>
        </div>
    </div> 
    <div>     
        <mdl-textfield 
                formControlName="descripcion" 
                type="text" id="descripcion" name="descripcion" placeholder="descripcion" maxlength="80" required 
                label="Descripción" floating-label >
        </mdl-textfield>
        <div [hidden]="!(frmTipoImpuesto.controls.descripcion.touched && !frmTipoImpuesto.controls.descripcion.valid)">
            <span class="fieldvalidate-error">
                <i> {{ errors( 'descripcion' ) }}</i>
            </span>
        </div>
    </div>
    <div>
        <mdl-textfield 
                formControlName="porcentaje" 
                type="text" id="porcentaje" name="porcentaje" placeholder="porcentaje" maxlength="5" 
                label="Porcentaje" floating-label >
        </mdl-textfield>
        <div [hidden]="!(frmTipoImpuesto.controls.porcentaje.touched && !frmTipoImpuesto.controls.porcentaje.valid)">
            <span class="fieldvalidate-error">
                <i> {{ errors( 'porcentaje' ) }}</i>
            </span>
        </div>
    </div>  
    <div>
        <mdl-textfield 
                formControlName="base" 
                type="text" id="base" name="base" placeholder="base"  
                label="Base" floating-label >
        </mdl-textfield>
        <div [hidden]="!(frmTipoImpuesto.controls.base.touched && !frmTipoImpuesto.controls.base.valid)">
            <span class="fieldvalidate-error">
                <i> {{ errors( 'base' ) }}</i>
            </span>
        </div>
    </div>       
    <div>
        <label>Tipo de impuesto: </label>
        <select formControlName="tipo_impuesto" id="tipo_impuesto" name="tipo_impuesto" >
            <option [value]="o.tipo" *ngFor="let o of tiposDeImpuesto">{{o.descripcion}}</option>
        </select>
    </div>
    <br>    
    <div>
        <label>Estado: </label>
        <select formControlName="estado" id="estado" name="estado" >
            <option [value]="o.codigo" *ngFor="let o of estado">{{o.nombre}}</option>
        </select>
    </div>
    <br>
    <div>
        <button 
                (click)="save()" [disabled]="!frmTipoImpuesto.valid" 
                mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
            {{botonGuardar}}
        </button>
        <button 
                (click)="goToList()"
                mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
            {{botonRegresar}}
        </button>
    </div>   
</form>


<!--input formControlName="codigoAlternativo" [disabled]="!esNuevo" type="text" id="codigoAlternativo" name="codigoAlternativo" placeholder="codigoAlternativo" maxlength="10" required />

<input formControlName="descripcion" type="text" id="descripcion" name="descripcion" placeholder="descripcion" maxlength="80" required />

<input formControlName="porcentaje" [disabled]="!esNuevo" type="text" id="porcentaje" name="porcentaje" placeholder="porcentaje" maxlength="5" />

<input formControlName="base" [disabled]="!esNuevo" type="text" id="base" name="base" placeholder="base" />

<select formControlName="tipoImpuesto" id="tipoImpuesto" name="tipoImpuesto" >
    <option [value]="o.tipo" *ngFor="let o of tiposDeImpuesto">{{o.descripcion}}</option>
</select>

<select formControlName="estado" id="estado" name="estado" >
    <option [value]="o.codigo" *ngFor="let o of estado">{{o.nombre}}</option>
</select-->
