
<h4>{{title}}</h4>
<form [formGroup]="frmTercero" *ngIf="vObj" novalidate >
    <input formControlName="id" type="hidden" id="id" name="id" />
    <div class="demo-tab-container">
        <mdl-tabs mdl-ripple mdl-tab-active-index="0" >
            <mdl-tab-panel>
                <mdl-tab-panel-title>
                    <mdl-icon class="mdl-color-text--primary">person</mdl-icon>
                    <span>Datos Básicos</span>
                </mdl-tab-panel-title>
                <mdl-tab-panel-content>
                    <div class="mdl-grid">
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="codigo" name="codigo" placeholder="codigo" maxlength="15" required
                                    formControlName="codigo" [disabled]="!esNuevo" 
                                    label="*Código" floating-label>
                            </mdl-textfield>
                            <div [hidden]="!(frmTercero.controls.codigo.touched && !frmTercero.controls.codigo.valid)">
                                <small>
                                    <i>> {{ errors( 'codigo' ) }}</i>
                                </small>
                            </div>
                        </div>
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <label>Tipo documento identidad: </label><br/>
                            <select formControlName="tipo_doc_identificacion" id="tipo_doc_identificacion" name="tipo_doc_identificacion" >
                                <option [value]="o.id" *ngFor="let o of tipoDocumento">{{o.nombre}}</option>
                            </select>
                        </div> 
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="numero_identificacion" name="numero_identificacion" placeholder="numero_identificacion" maxlength="10"
                                    formControlName="numero_identificacion" 
                                    
                                    label="*Número de identificación" floating-label>
                            </mdl-textfield>
                            <div [hidden]="!(frmTercero.controls.numero_identificacion.touched && !frmTercero.controls.numero_identificacion.valid)">
                                <small>
                                    <i>> {{ errors( 'numero_identificacion' ) }}</i>
                                </small>
                            </div>
                        </div> 
                        <div class="mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="dv" name="dv" placeholder="dv" maxlength="1"
                                    formControlName="dv"
                                    label="*Digito verificación" floating-label> 
                            </mdl-textfield>
                            
                            <div [hidden]="!(frmTercero.controls.dv.touched && !frmTercero.controls.dv.valid)">
                                <small>
                                    <i>> {{ errors( 'dv' ) }}</i>
                                </small>
                            </div>
                        </div>
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <label>Ciudad de expedición: </label><br/>
                            <select formControlName="ciudad_expedicion" id="ciudad_expedicion" name="ciudad_expedicion" >
                                <option [value]="o.id" *ngFor="let o of ciudades">{{o.nombre}}</option>
                            </select>
                        </div>   
                                                   
                        <div class="mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                            <mdl-textfield
                                    type="text" id="razon_social" name="razon_social" placeholder="razon_social" maxlength="60"
                                    formControlName="razon_social"  
                                    label="Razón social" floating-label>
                            </mdl-textfield>
                            
                            <div [hidden]="!(frmTercero.controls.razon_social.touched && !frmTercero.controls.razon_social.valid)">
                                <small>
                                    <i>> {{ errors( 'razon_social' ) }}</i>
                                </small>
                            </div>
                        </div>   
                        <div class="mdl-cell--3-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
                        </div>
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="nombre1" name="nombre1" placeholder="nombre1" maxlength="15"
                                    formControlName="nombre1"  
                                    label="Primer nombre" floating-label>
                            </mdl-textfield>
                            
                            <div [hidden]="!(frmTercero.controls.nombre1.touched && !frmTercero.controls.nombre1.valid)">
                                <small>
                                    <i>> {{ errors( 'nombre1' ) }}</i>
                                </small>
                            </div>
                        </div>      
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="nombre2" name="nombre2" placeholder="nombre2" maxlength="14"
                                    formControlName="nombre2" 
                                    label="Segundo nombre" floating-label> 
                                    
                            </mdl-textfield>
                            <div [hidden]="!(frmTercero.controls.nombre2.touched && !frmTercero.controls.nombre2.valid)">
                                <small>
                                    <i>> {{ errors( 'nombre2' ) }}</i>
                                </small>
                            </div>
                        </div>
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="apellido1" name="apellido1" placeholder="apellido1" maxlength="15"
                                    formControlName="apellido1"  
                                    label="Primer apellido" floating-label>
                            </mdl-textfield>
                            <div [hidden]="!(frmTercero.controls.apellido1.touched && !frmTercero.controls.apellido1.valid)">
                                <small>
                                    <i>> {{ errors( 'apellido1' ) }}</i>
                                </small>
                            </div>
                        </div>                     
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield
                                    type="text" id="apellido2" name="apellido2" placeholder="apellido2" maxlength="14"
                                    formControlName="apellido2"  
                                    label="Segundo apellido" floating-label>
                            </mdl-textfield>
                            
                            <div [hidden]="!(frmTercero.controls.apellido2.touched && !frmTercero.controls.apellido2.valid)">
                                <small>
                                    <i>> {{ errors( 'apellido2' ) }}</i>
                                </small>
                            </div>
                        </div>
                    </div>
                </mdl-tab-panel-content>        
            </mdl-tab-panel>   
            <mdl-tab-panel>
                <mdl-tab-panel-title>
                    <mdl-icon class="mdl-color-text--primary">person</mdl-icon>
                    <span>Datos de ubicación</span>
                </mdl-tab-panel-title>
                <mdl-tab-panel-content>
                    <div class="mdl-grid">
                        <div class="mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                            <mdl-textfield 
                                    type="text" id="direccion" name="direccion" placeholder="direccion" maxlength="80"
                                    formControlName="direccion"  
                                    label="Dirección" floating-label>
                            </mdl-textfield>
                            <div [hidden]="!(frmTercero.controls.direccion.touched && !frmTercero.controls.direccion.valid)">
                                <small>
                                    <i>> {{ errors( 'direccion' ) }}</i>
                                </small>
                            </div>
                        </div>
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <label>Ciudad: </label>
                            <select formControlName="id_ciudad" id="id_ciudad" name="id_ciudad" >
                                <option [value]="o.id" *ngFor="let o of ciudades">{{o.nombre}}</option>
                            </select>
                        </div>        
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <label>Barrio: </label>
                            <select formControlName="id_barrio" id="id_barrio" name="id_barrio" >
                                <option [value]="o.id" *ngFor="let o of barrios">{{o.nombre}}</option>
                            </select>
                        </div>   
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="telefono_fijo" name="telefono_fijo" placeholder="telefono_fijo" maxlength="10"
                                    formControlName="telefono_fijo"  
                                    label="Teléfono fijo" floating-label>
                            </mdl-textfield>
                            <div [hidden]="!(frmTercero.controls.telefono_fijo.touched && !frmTercero.controls.telefono_fijo.valid)">
                                <small>
                                    <i>> {{ errors( 'telefono_fijo' ) }}</i>
                                </small>
                            </div>
                        </div>         
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="telefono_movil" name="telefono_movil" placeholder="telefono_movil" maxlength="10"
                                    formControlName="telefono_movil"  
                                    label="Teléfono móvil" floating-label>
                            </mdl-textfield>
                            
                            <div [hidden]="!(frmTercero.controls.telefono_movil.touched && !frmTercero.controls.telefono_movil.valid)">
                                <small>
                                    <i>> {{ errors( 'telefono_movil' ) }}</i>
                                </small>
                            </div>
                        </div>      
                        <div class="mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                            <mdl-textfield 
                                    type="text" id="e_mail" name="e_mail" placeholder="e_mail" maxlength="100"
                                    formControlName="e_mail"  
                                    label="Correo electrónico" floating-label>
                            </mdl-textfield>
                            <div [hidden]="!(frmTercero.controls.e_mail.touched && !frmTercero.controls.e_mail.valid)">
                                <small>
                                    <i>> {{ errors( 'e_mail' ) }}</i>
                                </small>
                            </div>
                        </div>  
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <label>Zona: </label>
                            <select formControlName="id_zona" id="id_zona" name="id_zona" >
                                <option [value]="o.id" *ngFor="let o of zonas">{{o.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </mdl-tab-panel-content>                          
            </mdl-tab-panel> 
            <mdl-tab-panel>
                <mdl-tab-panel-title>
                    <mdl-icon class="mdl-color-text--primary">person</mdl-icon>
                    <span>Datos personales</span>
                </mdl-tab-panel-title>
                <mdl-tab-panel-content>
                    <div class="mdl-grid">
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="fecha_nacimiento" maxlength="10"
                                    formControlName="fecha_nacimiento"  
                                    label="Fecha de nacimiento" floating-label>
                            </mdl-textfield>
                            
                            <div [hidden]="!(frmTercero.controls.fecha_nacimiento.touched && !frmTercero.controls.fecha_nacimiento.valid)">
                                <small>
                                    <i>> {{ errors( 'fecha_nacimiento' ) }}</i>
                                </small>
                            </div>
                        </div> 
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="lugar_nacimiento" name="lugar_nacimiento" placeholder="lugar_nacimiento" maxlength="10"
                                    formControlName="lugar_nacimiento"  
                                    label="Lugar de nacimiento" floating-label>
                            </mdl-textfield>
                            
                            <div [hidden]="!(frmTercero.controls.lugar_nacimiento.touched && !frmTercero.controls.lugar_nacimiento.valid)">
                                <small>
                                    <i>> {{ errors( 'lugar_nacimiento' ) }}</i>
                                </small>
                            </div>
                        </div>   
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <label>Grupo sanguineo: </label>
                            <select formControlName="grupo_sanguineo" id="grupo_sanguineo" name="grupo_sanguineo" >
                                <option [value]="o.id" *ngFor="let o of grupo_sanguineo">{{o.tipo}}</option>
                            </select>
                        </div>         
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <label>Género: </label>
                            <select formControlName="sexo" id="sexo" name="sexo" >
                                <option [value]="o.id" *ngFor="let o of sexo">{{o.genero}}</option>
                            </select>
                        </div>             
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <label>Estado civil: </label>
                            <select formControlName="estado_civil" id="estado_civil" name="estado_civil" >
                                <option [value]="o.id" *ngFor="let o of estado_civil">{{o.estado}}</option>
                            </select>
                        </div>           
                        <div class="mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                            <label>Profesión u oficio: </label>
                            <select formControlName="profesion_oficio" id="profesion_oficio" name="profesion_oficio" >
                                <option [value]="o.id" *ngFor="let o of profesion_oficio">{{o.tipo}}</option>
                            </select>
                        </div>     
                        <div class="mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                            <label>EPS: </label>
                            <select formControlName="id_eps" id="id_eps" name="id_eps" >
                                <option [value]="o.id" *ngFor="let o of eps">{{o.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </mdl-tab-panel-content>                                     
            </mdl-tab-panel>
            <mdl-tab-panel>
                <mdl-tab-panel-title>
                    <mdl-icon class="mdl-color-text--primary">person</mdl-icon>
                    <span>Pamametros</span>
                </mdl-tab-panel-title>
                <mdl-tab-panel-content>
                    <div class="mdl-grid">
                        <div class="mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                            <div class="mdl-grid">
                                <div class="mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <h5>Controles CxC Cxp y Caja</h5>
                                </div>
                                <div class="mdl-cell--12-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                    <mdl-textfield 
                                            type="text" id="cupo_credito" name="cupo_credito" placeholder="cupo_credito" maxlength="10"
                                            formControlName="cupo_credito" 
                                            label="Cupo crédito" floating-label>
                                    </mdl-textfield>
                                    <div [hidden]="!(frmTercero.controls.cupo_credito.touched && !frmTercero.controls.cupo_credito.valid)">
                                        <small>
                                            <i>> {{ errors( 'cupo_credito' ) }}</i>
                                        </small>
                                    </div>
                                </div>
                                <div class="mdl-cell--12-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                    <mdl-textfield 
                                            type="text" id="dias_plazo" name="dias_plazo" placeholder="dias_plazo" maxlength="3"
                                            formControlName="dias_plazo" 
                                            label="Días de plazo" floating-label>
                                    </mdl-textfield>
                                    <div [hidden]="!(frmTercero.controls.dias_plazo.touched && !frmTercero.controls.dias_plazo.valid)">
                                        <small>
                                            <i>> {{ errors( 'dias_plazo' ) }}</i>
                                        </small>
                                    </div>
                                </div>
                                <div class="mdl-cell--12-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                    <label>: </label>
                                    <mdl-textfield 
                                            type="text" id="lista_precios" name="lista_precios" placeholder="lista_precios" maxlength="1"
                                            formControlName="lista_precios" 
                                            label="Lista de precios" floating-label>
                                    </mdl-textfield>
                                    <div [hidden]="!(frmTercero.controls.lista_precios.touched && !frmTercero.controls.lista_precios.valid)">
                                        <small>
                                            <i>> {{ errors( 'lista_precios' ) }}</i>
                                        </small>
                                    </div>
                                </div>
                                <div class="mdl-cell--12-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                    <mdl-textfield 
                                            type="text" id="porc_dto_contado" name="porc_dto_contado" placeholder="porc_dto_contado" maxlength="5"
                                            formControlName="porc_dto_contado" 
                                            label="% de Dto por pago de contado" floating-label>
                                    </mdl-textfield>
                                    <div [hidden]="!(frmTercero.controls.porc_dto_contado.touched && !frmTercero.controls.porc_dto_contado.valid)">
                                        <small>
                                            <i>> {{ errors( 'porc_dto_contado' ) }}</i>
                                        </small>
                                    </div>
                                </div>
                                <div class="mdl-cell--12-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                    <mdl-textfield 
                                            type="text" id="porc_dto_credito" name="porc_dto_credito" placeholder="porc_dto_credito" maxlength="5"
                                            formControlName="porc_dto_credito" 
                                            label="% de Dto por pago de crédito" floating-label>
                                    </mdl-textfield>
                                    
                                    <div [hidden]="!(frmTercero.controls.porc_dto_credito.touched && !frmTercero.controls.porc_dto_credito.valid)">
                                        <small>
                                            <i>> {{ errors( 'porc_dto_credito' ) }}</i>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                            <div class="mdl-grid">
                                
                                <div class="mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <h5>Datos Clinik Control</h5>
                                </div>
                                <div class="mdl-cell--7-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                    <label>Tiene convenio</label>
                                </div>
                                <div class="mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                    <mdl-radio  
                                            formControlName="tiene_convenio"
                                            [value]="o.codigo"
                                            *ngFor="let o of activaciones">
                                        {{o.nombre}}
                                    </mdl-radio>
                                </div>

                                <div class="mdl-cell--7-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor">
                                    <label>Tipo de afiliación: </label>
                                </div>
                                <div class="mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor">
                                    <mdl-radio
                                            formControlName="tipo_afiliacion" 
                                            id="tipo_afiliacion" name="tipo_afiliacion"
                                            [value]="o.codigo" 
                                            *ngFor="let o of activaciones">
                                        {{o.nombre}}
                                    </mdl-radio>
                                </div>  
                                <div class="mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <label>Profesional asignado: </label><br/>
                                    <select formControlName="id_profesional_asignado" id="id_profesional_asignado" name="id_profesional_asignado" >
                                        <option [value]="o.id" *ngFor="let o of profesionalAsignado">{{o.nombre}}</option>
                                    </select>
                                </div>

                                
                                <div class="mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <h5>Parametros varios</h5>
                                </div>
                                <div class="mdl-cell--7-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor">
                                    <label>Afiliado fidelización: </label>
                                </div>
                                <div class="mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor">
                                    <mdl-radio 
                                            id="afiliado_fidelizacion" name="afiliado_fidelizacion" 
                                            formControlName="afiliado_fidelizacion" 
                                            [value]="o.codigo" 
                                            *ngFor="let o of activaciones">
                                        {{o.nombre}}
                                    </mdl-radio>
                                </div> 
                                <div class="mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <label>Tipos de impresión (Factura de venta)</label>
                                    <select formControlName="tipo_impresion_fv" id="tipo_impresion_fv" name="tipo_impresion_fv" >
                                        <option [value]="o.id" *ngFor="let o of tipoImpresion">{{o.tipo}}</option>
                                    </select>
                                </div>
                                <div class="mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <label>Estado</label>
                                    <select formControlName="estado" id="estado" name="estado" >
                                        <option [value]="o.codigo" *ngFor="let o of estado">{{o.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                            <div class="mdl-grid">
                                <div class="mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <h5>Parámetros legales</h5>
                                </div>
                                
                                <div class="mdl-cell--7-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                    <label>Exento de IVA: </label>
                                </div>
                                <div class="mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                    <mdl-radio 
                                            id="exento_iva" name="exento_iva"
                                            formControlName="exento_iva" 
                                            [value]="o.codigo" 
                                            *ngFor="let o of activaciones">
                                        {{o.nombre}}
                                    </mdl-radio>
                                    
                                </div> 
                                <div class="mdl-cell--7-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor">
                                    <label>Autoretenedor</label>
                                </div>
                                <div class="mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor">
                                    <mdl-radio 
                                            id="autoretenedor" name="autoretenedor"
                                            formControlName="autoretenedor"  
                                            [value]="o.codigo" 
                                            *ngFor="let o of activaciones">
                                        {{o.nombre}}
                                    </mdl-radio>
                                </div>
                                <div class="mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <label>Tipo de persona</label>
                                    <select formControlName="tipo_persona" id="tipo_persona" name="tipo_persona" >
                                        <option [value]="o.id" *ngFor="let o of tipo_persona">{{o.tipo}}</option>
                                    </select>
                                </div>
                            </div>
                        </div> 
                    </div>
                </mdl-tab-panel-content>                                     
            </mdl-tab-panel>
        </mdl-tabs>
    </div>  
        <div>
            <button 
                    (click)="save()" [disabled]="!frmTercero.valid" 
                    mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
                {{botonGuardar}}
            </button>
            <button 
                    (click)="goToList()"
                    mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
                {{botonRegresar}}
            </button>
        </div>
</form>