<h3>{{title}}</h3>
<form  *ngIf="obj" [formGroup]="fTablaGeneral" novalidate >
    <input type="hidden" id="id" name="id" formControlName="id" />
    <div>
        <label>Codigo: </label>
        <input formControlName="codigo" [disabled]="!esNuevo" type="text" id="codigo" name="codigo" placeholder="codigo" required />
        <div [hidden]="!(fTablaGeneral.controls.codigo.touched && !fTablaGeneral.controls.codigo.valid)">
            <small>
                <i>> {{ errors( 'codigo' ) }}</i>
            </small>
        </div>
    </div>
    <div>
        <label>Descripcion: </label>
        <input formControlName="descripcion" type="text" id="descripcion" name="descripcion" placeholder="descripcion" required />
                <div [hidden]="!(fTablaGeneral.controls.descripcion.touched && !fTablaGeneral.controls.descripcion.valid)">
            <small>
                <i>> {{ errors( 'descripcion' ) }}</i>
            </small>
        </div>
    </div>
    <div>
        <label>Estado: </label>
        <select formControlName="estado" id="estado" name="estado" >
            <option [value]="o.codigo" *ngFor="let o of estado">{{o.nombre}}</option>
        </select>
    </div>
    <p>
        <button (click)="save()" [disabled]="!fTablaGeneral.valid" >Guardar</button>
        <button (click)="goToList()">Regresar</button>
    </p>
</form>
