    <h1>
        <a routerLink="{{urlTitle}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{title}}</a>
        <small>{{description}}</small>
    </h1>
    
    <nav>
        <ul class="principal-menu">
            <li *ngFor="let o of menu">
                <a routerLink="{{o.path}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{o.nameItem}}</a>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
    <tercero-search></tercero-search>