    <h1>
        <a routerLink="{{urlTitle}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{title}}</a>
        <small>{{description}}</small>
    </h1>
    
    <nav>
        <label>Menú principal</label>
        <ul id="menu-clinik-control">
            <!--span id="menu-principal">
                <li *ngFor="let o of menu">
                    <a routerLink="{{o.path}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="o.class" >{{o.nameItem}}</a>
                </li>
            </span>
            <span id="menu-tablas-generales">
                <li *ngFor="let o of menu_tablas_generales">
                    <a routerLink="{{o.path}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="o.class" >{{o.nameItem}}</a>
                </li>
            </span-->
            <span id="menu-documentos">
                <li *ngFor="let o of menu_documentos">
                    <a routerLink="{{o.path}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="o.class" >{{o.nameItem}}</a>
                </li>
            </span>     
            <!--span id="menu-dev">
                <li *ngFor="let o of menu_dev">
                    <a routerLink="{{o.path}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="o.class" >{{o.nameItem}}</a>
                </li>
            </span-->              
        </ul>
    </nav>

    <router-outlet></router-outlet>