    <h1>
        <a routerLink="{{urlTitle}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{title}}</a>
        <small>{{description}}</small>
    </h1>
    
    <nav>
        <label>Menú principal</label>
        <ul class="menu-principal">
            <li *ngFor="let o of menu">
                <a routerLink="{{o.path}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{o.nameItem}}</a>
            </li>
        </ul>
    </nav>
    <nav>
        <label>Tablas generales</label>
        <ul class="menu-tablas-generales">
            <li *ngFor="let o of menu_tablas_generales">
                <a routerLink="{{o.path}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{o.nameItem}}</a>
            </li>
        </ul>
    </nav>
    <nav>
        <label>Documentos</label>
        <ul class="menu-documentos">
            <li *ngFor="let o of menu_documentos">
                <a routerLink="{{o.path}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{o.nameItem}}</a>
            </li>
        </ul>
    </nav>    
    <nav>
        <label>Devs</label>
        <ul class="menu-pruebas">
            <li *ngFor="let o of menu_pruebas">
                <a routerLink="{{o.path}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{o.nameItem}}</a>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>