<div id="add-search-to-the-list-component">
    <div>
        <form>
            <div>
                <mdl-textfield 
                    type="text" id="codigo" name="codigo"  
                    label="Código" floating-label 
                    [value]="data.codigo">
                </mdl-textfield>
            </div>
            <div>
                <mdl-textfield 
                    type="text" id="descripcion1" name="descripcion1"  
                    label="Descripción" floating-label 
                    [value]="data.descripcion1">
                </mdl-textfield>
            </div>
            <div>
                <mdl-textfield 
                    type="text" id="marca" name="marca"  
                    label="Marca" floating-label 
                    [value]="data.marca">
                </mdl-textfield>
            </div>
            <div>
                <mdl-textfield 
                    type="text" id="unidad-medida" name="unidad_medida"  
                    label="Unidad de medida" floating-label 
                    [value]="data.unidad_medida">
                </mdl-textfield>
            </div>  
            <div>
                <mdl-textfield 
                    type="text" id="valor-unitario" name="valor_unitario"  
                    label="Valor unitario" floating-label 
                    [value]="data.precio_venta1">
                </mdl-textfield>
            </div>            
            <div>
                <mdl-textfield    
                    type="text" id="existencia" name="existencia"  
                    label="Existencia" floating-label 
                    [value]="data.existencia">
                </mdl-textfield>
            </div>          
            <div>
                <mdl-textfield    
                    type="text" id="cantidad" name="cantidad"  
                    label="Cantidad" floating-label 
                    [value]="data.cantidad">
                </mdl-textfield>
            </div>                                                          
            <div>
                <button (click)="addList()">Agregar</button>
            </div>
        </form>
    </div>
</div>