<h4>{{title}}</h4>
<form [formGroup]="frmAgrupacion" *ngIf="vObj" novalidate >
    <input formControlName="id" type="hidden" id="id" name="id" />
    <div class="mdl-grid">
        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <mdl-textfield 
                    type="text" id="codigo" name="codigo" placeholder="codigo" maxlength="10" required
                    formControlName="codigo" [disabled]="!esNuevo" 
                    label="Código" floating-label>
            </mdl-textfield>
            
            <div [hidden]="!(frmAgrupacion.controls.codigo.touched && !frmAgrupacion.controls.codigo.valid)">
                <span class="fieldvalidate-error">
                    <i> {{ errors( 'codigo' ) }}</i>
                </span>
            </div>
        </div>
        <div class="mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <mdl-textfield 
                    formControlName="descripcion" 
                    type="text" id="descripcion" name="descripcion" placeholder="descripcion" maxlength="80" required 
                    label="Descripcion" floating-label>
            </mdl-textfield>
            <div [hidden]="!(frmAgrupacion.controls.descripcion.touched && !frmAgrupacion.controls.descripcion.valid)">
                <span class="fieldvalidate-error">
                    <i> {{ errors( 'descripcion' ) }}</i>
                </span>
            </div>
        </div>
        <div class="mdl-cell--3-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
        </div>
        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <mdl-textfield 
                    formControlName="codigoPadre" 
                    type="text" id="codigoPadre" name="codigoPadre" placeholder="codigoPadre" maxlength="80" required 
                    label="Código Padre" floating-label>
            </mdl-textfield>
            <div [hidden]="!(frmAgrupacion.controls.codigoPadre.touched && !frmAgrupacion.controls.codigoPadre.valid)">
                <span class="fieldvalidate-error">
                    <i> {{ errors( 'codigoPadre' ) }}</i>
                </span>
            </div>
        </div>
        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <mdl-textfield 
                    formControlName="nivel" 
                    type="text" id="nivel" name="nivel" placeholder="nivel" maxlength="3"
                    label="Nivel" floating-label>
            </mdl-textfield>
            <div [hidden]="!(frmAgrupacion.controls.nivel.touched && !frmAgrupacion.controls.nivel.valid)">
                <span class="fieldvalidate-error">
                    <i> {{ errors( 'nivel' ) }}</i>
                </span>
            </div>
        </div>    
        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <label>Estado: </label>
            <select formControlName="estado" id="estado" name="estado" >
                <option [value]="o.codigo" *ngFor="let o of estado">{{o.nombre}}</option>
            </select>
        </div>
    </div>
    <br/>
    <div>
        <button 
                (click)="save()" [disabled]="!frmAgrupacion.valid" 
                mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
            {{botonGuardar}}
        </button>
        <button 
                (click)="goToList()"
                mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
            {{botonRegresar}}
        </button>
    </div>   
</form>