<h4>{{title}}</h4>
<form [formGroup]="frmProducto" *ngIf="vObj" novalidate >
    <input formControlName="id" type="hidden" id="id" name="id" />
    <fieldset>
        <legend>Identificación (Producto/Servicio)</legend>
        <div>
            <label>Codigo: </label>
            <input formControlName="codigo" [disabled]="!esNuevo" type="text" id="codigo" name="codigo" placeholder="codigo" maxlength="20" />
            
            <div [hidden]="!(frmProducto.controls.codigo.touched && !frmProducto.controls.codigo.valid)">
                <small>
                    <i>> {{ errors( 'codigo' ) }}</i>
                </small>
            </div>
        </div>
        <div>
            <label>Agrupación: </label>
            <select formControlName="agrupacion" id="agrupacion" name="agrupacion">
                <option [value]="o.id" *ngFor="let o of agrupaciones">{{o.nombre}}</option>
            </select>
        </div>
        <div>
            <label>Descripcion: </label>
            <input formControlName="descripcion" type="text" id="descripcion" name="descripcion" placeholder="descripcion"  maxlength="80" />
            
            <div [hidden]="!(frmProducto.controls.descripcion.touched && !frmProducto.controls.descripcion.valid)">
                <small>
                    <i>> {{ errors( 'descripcion' ) }}</i>
                </small>
            </div>
        </div>
        <div>
            <label>Descripcion: </label>
            <input formControlName="descripcion1" type="text" id="descripcion1" name="descripcion1" placeholder="descripcion1"  maxlength="80" />
            
            <div [hidden]="!(frmProducto.controls.descripcion1.touched && !frmProducto.controls.descripcion1.valid)">
                <small>
                    <i>> {{ errors( 'descripcion1' ) }}</i>
                </small>
            </div>
        </div>
        <div>
            <label>Marcas: </label>
            <select formControlName="marca" id="marca" name="marca">
                <option [value]="o.id" *ngFor="let o of marcas">{{o.nombre}}</option>
            </select>
        </div>
        <div>
            <label>Código de barras: </label>
            <input formControlName="codigoBarras" type="text" id="codigoBarras" name="codigoBarras" placeholder="codigoBarras"  maxlength="20" />
            
            <div [hidden]="!(frmProducto.controls.codigoBarras.touched && !frmProducto.controls.codigoBarras.valid)">
                <small>
                    <i>> {{ errors( 'codigoBarras' ) }}</i>
                </small>
            </div>
        </div>
        <div>
            <label>Referencia: </label>
            <input formControlName="referencia" type="text" id="referencia" name="referencia" placeholder="referencia"  maxlength="20" />
            
            <div [hidden]="!(frmProducto.controls.referencia.touched && !frmProducto.controls.referencia.valid)">
                <small>
                    <i>> {{ errors( 'referencia' ) }}</i>
                </small>
            </div>
        </div>
        <div>
            <label>Equivalencia: </label>
            <input formControlName="equivalencia" type="text" id="equivalencia" name="equivalencia" placeholder="equivalencia"  maxlength="12" />
            
            <div [hidden]="!(frmProducto.controls.equivalencia.touched && !frmProducto.controls.equivalencia.valid)">
                <small>
                    <i>> {{ errors( 'equivalencia' ) }}</i>
                </small>
            </div>
        </div>
        <div>
            <label>Unidad de medida: </label>
            <select formControlName="unidadMedida" id="unidadMedida" name="unidadMedida">
                <option [value]="o.id" *ngFor="let o of unidades">{{o.nombre}}</option>
            </select>
        </div>
        <div>
            <label>Unidad Empaque: </label>
            <input formControlName="unidadEmpaque" type="text" id="unidadEmpaque" name="unidadEmpaque" placeholder="unidadEmpaque"  maxlength="12" />
            
            <div [hidden]="!(frmProducto.controls.unidadEmpaque.touched && !frmProducto.controls.unidadEmpaque.valid)">
                <small>
                    <i>> {{ errors( 'unidadEmpaque' ) }}</i>
                </small>
            </div>
        </div>
        <div>
            <label>Ubicación bodega: </label>
            <input formControlName="ubicacionBodega" type="text" id="ubicacionBodega" name="ubicacionBodega" placeholder="ubicacionBodega"  maxlength="20" />
            
            <div [hidden]="!(frmProducto.controls.ubicacionBodega.touched && !frmProducto.controls.ubicacionBodega.valid)">
                <small>
                    <i>> {{ errors( 'ubicacionBodega' ) }}</i>
                </small>
            </div>
        </div>
     </fieldset>   
     <fieldset>
        <legend>Precios y datos estadísticos</legend>

        <div>
            <label>Precio de venta 1: </label>
            <input formControlName="precioVenta1" type="text" id="precioVenta1" name="precioVenta1" placeholder="precioVenta1" maxlength="9" />
            
            <div [hidden]="!(frmProducto.controls.precioVenta1.touched && !frmProducto.controls.precioVenta1.valid)">
                <small>
                    <i>> {{ errors( 'precioVenta1' ) }}</i>
                </small>
            </div>
        </div>
        <div>
            <label>Precio de venta 2: </label>
            <input formControlName="precioVenta2" type="text" id="precioVenta2" name="precioVenta2" placeholder="precioVenta2" maxlength="9"  />
            
            <div [hidden]="!(frmProducto.controls.precioVenta2.touched && !frmProducto.controls.precioVenta2.valid)">
                <small>
                    <i>> {{ errors( 'precioVenta2' ) }}</i>
                </small>
            </div>
        </div>
        <div>
            <label>Precio de venta 3: </label>
            <input formControlName="precioVenta3" type="text" id="precioVenta3" name="precioVenta3" placeholder="precioVenta3" maxlength="9"  />
            
            <div [hidden]="!(frmProducto.controls.precioVenta3.touched && !frmProducto.controls.precioVenta3.valid)">
                <small>
                    <i>> {{ errors( 'precioVenta3' ) }}</i>
                </small>
            </div>
        </div>        
        <div>
            <label>Precio de venta 4: </label>
            <input formControlName="precioVenta4" type="text" id="precioVenta4" name="precioVenta4" placeholder="precioVenta4" maxlength="9"  />
            
            <div [hidden]="!(frmProducto.controls.precioVenta4.touched && !frmProducto.controls.precioVenta4.valid)">
                <small>
                    <i>> {{ errors( 'precioVenta4' ) }}</i>
                </small>
            </div>
        </div>  
        <div>
            <label>Precio de venta 5: </label>
            <input formControlName="precioVenta5" type="text" id="precioVenta5" name="precioVenta5" placeholder="precioVenta5" maxlength="9"  />
            
            <div [hidden]="!(frmProducto.controls.precioVenta5.touched && !frmProducto.controls.precioVenta5.valid)">
                <small>
                    <i>> {{ errors( 'precioVenta5' ) }}</i>
                </small>
            </div>
        </div>     
        <div>
            <label>Existencia: </label>
            <input formControlName="existencia" type="text" id="existencia" name="existencia" placeholder="existencia" maxlength="12"  />
            
            <div [hidden]="!(frmProducto.controls.existencia.touched && !frmProducto.controls.existencia.valid)">
                <small>
                    <i>> {{ errors( 'existencia' ) }}</i>
                </small>
            </div>
        </div>    
        <div>
            <label>Saldo pedido: </label>
            <input formControlName="saldoPedido" type="text" id="saldoPedido" name="saldoPedido" placeholder="saldoPedido" maxlength="12" />
            
            <div [hidden]="!(frmProducto.controls.saldoPedido.touched && !frmProducto.controls.saldoPedido.valid)">
                <small>
                    <i>> {{ errors( 'saldoPedido' ) }}</i>
                </small>
            </div>
        </div>      
        <div>
            <label>Costo promedio: </label>
            <input formControlName="costoPromedio" type="text" id="costoPromedio" name="costoPromedio" placeholder="costoPromedio" maxlength="12" />
            
            <div [hidden]="!(frmProducto.controls.costoPromedio.touched && !frmProducto.controls.costoPromedio.valid)">
                <small>
                    <i>> {{ errors( 'costoPromedio' ) }}</i>
                </small>
            </div>
        </div>      
        <div>
            <label>Costo última compra: </label>
            <input formControlName="costoUltimaCompra" type="text" id="costoUltimaCompra" name="costoUltimaCompra" placeholder="costoUltimaCompra" maxlength="12" />
            
            <div [hidden]="!(frmProducto.controls.costoUltimaCompra.touched && !frmProducto.controls.costoUltimaCompra.valid)">
                <small>
                    <i>> {{ errors( 'costoUltimaCompra' ) }}</i>
                </small>
            </div>
        </div>          
        <div>
            <label>Costo FOB: </label>
            <input formControlName="costoFOB" type="text" id="costoFOB" name="costoFOB" placeholder="costoFOB" maxlength="12" />
            
            <div [hidden]="!(frmProducto.controls.costoFOB.touched && !frmProducto.controls.costoFOB.valid)">
                <small>
                    <i>> {{ errors( 'costoFOB' ) }}</i>
                </small>
            </div>
        </div>                  

     </fieldset> 
     <fieldset>
        <legend>Parámetros (Legales)</legend>

        <div>
            <label>Tipo de IVA venta: </label>
            <select formControlName="tipoIVAVenta" id="tipoIVAVenta" name="tipoIVAVenta">
                <option [value]="o.id" *ngFor="let o of tiposDeIva">{{o.nombre}}</option>
            </select>
        </div>
        <div>
            <label>Tipo de IVA compra: </label>
            <select formControlName="tipoIVACompra" id="tipoIVACompra" name="tipoIVACompra">
                <option [value]="o.id" *ngFor="let o of tiposDeIva">{{o.nombre}}</option>
            </select>
        </div>  
        <div>
            <label>Registro invima: </label>
            <input formControlName="registroInvima" type="text" id="registroInvima" name="registroInvima" placeholder="registroInvima" />
            
            <div [hidden]="!(frmProducto.controls.registroInvima.touched && !frmProducto.controls.registroInvima.valid)">
                <small>
                    <i>> {{ errors( 'registroInvima' ) }}</i>
                </small>
            </div>
        </div>       
        <div>
            <label>Número de meses de garantia: </label>
            <input formControlName="numeroMesesGarantia" type="text" id="numeroMesesGarantia" name="numeroMesesGarantia" placeholder="numeroMesesGarantia" />
            
            <div [hidden]="!(frmProducto.controls.numeroMesesGarantia.touched && !frmProducto.controls.numeroMesesGarantia.valid)">
                <small>
                    <i>> {{ errors( 'numeroMesesGarantia' ) }}</i>
                </small>
            </div>
        </div>                

     </fieldset>
     <fieldset>
        <legend>Parámetros (Controles sobre valores y cantidades)</legend>

        <div>
            <label>Stock mínimo: </label>
            <input formControlName="stockMinimo" type="text" id="stockMinimo" name="stockMinimo" placeholder="stockMinimo" />
            
            <div [hidden]="!(frmProducto.controls.stockMinimo.touched && !frmProducto.controls.stockMinimo.valid)">
                <small>
                    <i>> {{ errors( 'stockMinimo' ) }}</i>
                </small>
            </div>
        </div>
        <div>
            <label>Stock máximo: </label>
            <input formControlName="stockMaximo" type="text" id="stockMaximo" name="stockMaximo" placeholder="stockMaximo" />
            
            <div [hidden]="!(frmProducto.controls.stockMaximo.touched && !frmProducto.controls.stockMaximo.valid)">
                <small>
                    <i>> {{ errors( 'stockMaximo' ) }}</i>
                </small>
            </div>
        </div>   
        <div>
            <label>% Máx de Dto pago de contado: </label>
            <input formControlName="porcMaxDtoContado" type="text" id="porcMaxDtoContado" name="porcMaxDtoContado" placeholder="porcMaxDtoContado" />
            
            <div [hidden]="!(frmProducto.controls.porcMaxDtoContado.touched && !frmProducto.controls.porcMaxDtoContado.valid)">
                <small>
                    <i>> {{ errors( 'porcMaxDtoContado' ) }}</i>
                </small>
            </div>
        </div>
        <div>
            <label>% Máx de Dto pago a credito: </label>
            <input formControlName="porcMaxDtoCredito" type="text" id="porcMaxDtoCredito" name="porcMaxDtoCredito" placeholder="porcMaxDtoCredito" />
            
            <div [hidden]="!(frmProducto.controls.porcMaxDtoCredito.touched && !frmProducto.controls.porcMaxDtoCredito.valid)">
                <small>
                    <i>> {{ errors( 'porcMaxDtoCredito' ) }}</i>
                </small>
            </div>
        </div>
        <div>
            <label>% de comisión por venta: </label>
            <input formControlName="porcComisionVenta" type="text" id="porcComisionVenta" name="porcComisionVenta" placeholder="porcComisionVenta" />
            
            <div [hidden]="!(frmProducto.controls.porcComisionVenta.touched && !frmProducto.controls.porcComisionVenta.valid)">
                <small>
                    <i>> {{ errors( 'porcComisionVenta' ) }}</i>
                </small>
            </div>
        </div>                                    

     </fieldset>
     <fieldset>
        <legend>Parámetros (S/N)</legend>

        <div>
            <label>Producto activo: </label>
            <select formControlName="productoActivo" id="productoActivo" name="productoActivo" >
                <option [value]="o.codigo" *ngFor="let o of activaciones">{{o.nombre}}</option>
            </select>
        </div> 
        <div>
            <label>Producto se vende: </label>
            <select formControlName="productoSeVende" id="productoSeVende" name="productoSeVende" >
                <option [value]="o.codigo" *ngFor="let o of activaciones">{{o.nombre}}</option>
            </select>
        </div>   
        <div>
            <label>Precio fijo: </label>
            <select formControlName="precioFijo" id="precioFijo" name="precioFijo" >
                <option [value]="o.codigo" *ngFor="let o of activaciones">{{o.nombre}}</option>
            </select>
        </div>       
        <div>
            <label>Usa control de lotes: </label>
            <select formControlName="usaControlLotes" id="usaControlLotes" name="usaControlLotes" >
                <option [value]="o.codigo" *ngFor="let o of activaciones">{{o.nombre}}</option>
            </select>
        </div>
        <div>
            <label>Aplica para pedido: </label>
            <select formControlName="aplicaParaPedido" id="aplicaParaPedido" name="aplicaParaPedido" >
                <option [value]="o.codigo" *ngFor="let o of activaciones">{{o.nombre}}</option>
            </select>
        </div>      
        <div>
            <label>Usa seriales: </label>
            <select formControlName="usaSeriales" id="usaSeriales" name="usaSeriales" >
                <option [value]="o.codigo" *ngFor="let o of activaciones">{{o.nombre}}</option>
            </select>
        </div>       
        <div>
            <label>Producto en consignación: </label>
            <select formControlName="productoEnConsig" id="productoEnConsig" name="productoEnConsig" >
                <option [value]="o.codigo" *ngFor="let o of activaciones">{{o.nombre}}</option>
            </select>
        </div>              
        <div>
            <label>Producto controlado: </label>
            <select formControlName="productoControlado" id="productoControlado" name="productoControlado" >
                <option [value]="o.codigo" *ngFor="let o of activaciones">{{o.nombre}}</option>
            </select>
        </div>         
        <div>
            <label>Permite negativos: </label>
            <select formControlName="permiteNegativos" id="permiteNegativos" name="permiteNegativos" >
                <option [value]="o.codigo" *ngFor="let o of activaciones">{{o.nombre}}</option>
            </select>
        </div>                                    

     </fieldset>     
     <fieldset>
        <legend>Otros</legend>

        <div>
            <label>Color agenda: </label>
            <input formControlName="colorAgenda" type="text" id="colorAgenda" name="colorAgenda" placeholder="colorAgenda" />
            
            <div [hidden]="!(frmProducto.controls.colorAgenda.touched && !frmProducto.controls.colorAgenda.valid)">
                <small>
                    <i>> {{ errors( 'colorAgenda' ) }}</i>
                </small>
            </div>
        </div>
        <div>
            <label>Presentación: </label>
            <select formControlName="presentacion" id="presentacion" name="presentacion">
                <option [value]="o.id" *ngFor="let o of presentaciones">{{o.nombre}}</option>
            </select>
        </div>  
        <div>
            <label>Vía administración: </label>
            <select formControlName="viaAdministracion" id="viaAdministracion" name="viaAdministracion">
                <option [value]="o.id" *ngFor="let o of vias">{{o.nombre}}</option>
            </select>
        </div>  

     </fieldset>   
     <fieldset>
        <legend>Control</legend>



     </fieldset>  
        <!--div>
            <label>Estado: </label>
            <select formControlName="estado" id="estado" name="estado" >
                <option [value]="o.codigo" *ngFor="let o of estado">{{o.nombre}}</option>
            </select>
        </div-->
        <div>
            <button (click)="save()" [disabled]="!frmProducto.valid" >{{botonGuardar}}</button>
            <button (click)="goToList()">{{botonRegresar}}</button>
        </div>
</form>