<h4>{{title}}</h4>
<form [formGroup]="frmProducto" *ngIf="vObj" novalidate >
    <input formControlName="id" type="hidden" id="id" name="id" />
    <div class="demo-tab-container">
    <!--  (mdl-tab-active-changed)="tabChanged($event)"  -->
    <mdl-tabs mdl-ripple mdl-tab-active-index="0" >
        <mdl-tab-panel>
            <mdl-tab-panel-title>
                <mdl-icon class="mdl-color-text--primary">person</mdl-icon>
                <span>Identificación (Producto/Servicio)</span>
            </mdl-tab-panel-title>
            <mdl-tab-panel-content>
                <div class="mdl-grid">
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                type="text" id="codigo" name="codigo" placeholder="codigo" maxlength="20"
                                formControlName="codigo" [disabled]="!esNuevo" 
                                label="*Código" floating-label>
                        </mdl-textfield>
                        <div [hidden]="!(frmProducto.controls.codigo.touched && !frmProducto.controls.codigo.valid)">
                            <span>
                                <i>> {{ errors( 'codigo' ) }}</i>
                            </span>
                        </div>
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <label>*Agrupación: </label>
                        <br/>
                        <select formControlName="agrupacion" id="agrupacion" name="agrupacion">
                            <option [value]="o.id" *ngFor="let o of agrupaciones">{{o.nombre}}</option>
                        </select>
                    </div>
                    <div class="mdl-cell--6-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">

                    </div>
                    <div class="mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <mdl-textfield 
                                formControlName="descripcion1" 
                                type="text" id="descripcion1" name="descripcion1" placeholder="descripcion1"  maxlength="80" 
                                label="*Descripcion 1" floating-label>
                        </mdl-textfield>
                        
                        <div [hidden]="!(frmProducto.controls.descripcion1.touched && !frmProducto.controls.descripcion1.valid)">
                            <span class="fieldvalidate-error">
                                > {{ errors( 'descripcion1' ) }}
                            </span>
                        </div>
                    
                    </div>
                    <div class="mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <mdl-textfield 
                                formControlName="descripcion2" 
                                type="text" id="descripcion2" name="descripcion2" placeholder="descripcion2"  maxlength="80" 
                                label="Descripcion 2" floating-label>
                                
                        </mdl-textfield>
                        <label class="mdl-textfield__label"  for="descripcion2">
                            <span class="mdl-textfield__error">ddddd</span>
                        </label>
                        <div [hidden]="!(frmProducto.controls.descripcion2.touched && !frmProducto.controls.descripcion2.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'descripcion2' ) }}</i>
                            </span>
                        </div>
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <label>Marca: </label>
                        <br/>
                        <select formControlName="marca" id="marca" name="marca">
                            <option [value]="o.id" *ngFor="let o of marcas">{{o.nombre}}</option>
                        </select>
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <mdl-textfield 
                                formControlName="codigo_barras" 
                                type="text" id="codigo_barras" name="codigo_barras" placeholder="codigo_barras"  maxlength="20" 
                                label="Código de barras" floating-label>
                        </mdl-textfield>
                        <div [hidden]="!(frmProducto.controls.codigo_barras.touched && !frmProducto.controls.codigo_barras.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'codigo_barras' ) }}</i>
                            </span>
                        </div>
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <mdl-textfield 
                                formControlName="referencia" 
                                type="text" id="referencia" name="referencia" placeholder="referencia"  maxlength="20" 
                                label="Referencia" floating-label>
                        </mdl-textfield>
                        <div [hidden]="!(frmProducto.controls.referencia.touched && !frmProducto.controls.referencia.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'referencia' ) }}</i>
                            </span>
                        </div>
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <mdl-textfield 
                                formControlName="equivalencia" 
                                type="text" id="equivalencia" name="equivalencia" placeholder="equivalencia"  maxlength="20" 
                                label="Equivalencia" floating-label>
                        </mdl-textfield>
                        <div [hidden]="!(frmProducto.controls.equivalencia.touched && !frmProducto.controls.equivalencia.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'equivalencia' ) }}</i>
                            </span>
                        </div>
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <label>*Unidad de medida: </label>
                        <br/>
                        <select formControlName="unidad_medida" id="unidad_medida" name="unidad_medida">
                            <option [value]="o.id" *ngFor="let o of unidades">{{o.nombre}}</option>
                        </select>
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <mdl-textfield 
                                formControlName="unidad_empaque" 
                                type="text" id="unidad_empaque" name="unidad_empaque" placeholder="unidad_empaque"  maxlength="12" 
                                label="Unidad Empaque" floating-label>
                        </mdl-textfield>
                        <div [hidden]="!(frmProducto.controls.unidad_empaque.touched && !frmProducto.controls.unidad_empaque.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'unidad_empaque' ) }}</i>
                            </span>
                        </div>
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <mdl-textfield 
                                formControlName="ubicacion_bodega" 
                                type="text" id="ubicacion_bodega" name="ubicacion_bodega" placeholder="ubicacion_bodega"  maxlength="10" 
                                label="Ubicación bodega" floating-label>
                        </mdl-textfield>
                        <div [hidden]="!(frmProducto.controls.ubicacion_bodega.touched && !frmProducto.controls.ubicacion_bodega.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'ubicacion_bodega' ) }}</i>
                            </span>
                        </div>
                    </div>
                </div> 
            </mdl-tab-panel-content>
        </mdl-tab-panel>

        <mdl-tab-panel>

            <mdl-tab-panel-title>
                <mdl-icon class="mdl-color-text--primary">person</mdl-icon>
                <span>Precios y datos estadísticos</span>
            </mdl-tab-panel-title>
            <mdl-tab-panel-content>   
                <div class="mdl-grid">
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                formControlName="precio_venta1" 
                                type="text" id="precio_venta1" name="precio_venta1" placeholder="precio_venta1" maxlength="9"
                                label="*Precio de venta 1" floating-label>
                        </mdl-textfield>
                        
                        <div [hidden]="!(frmProducto.controls.precio_venta1.touched && !frmProducto.controls.precio_venta1.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'precio_venta1' ) }}</i>
                            </span>
                        </div>
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                formControlName="precio_venta2" 
                                type="text" id="precio_venta2" name="precio_venta2" placeholder="precio_venta2" maxlength="9"  
                                label="Precio de venta 2" floating-label>
                        </mdl-textfield>
                        <div [hidden]="!(frmProducto.controls.precio_venta2.touched && !frmProducto.controls.precio_venta2.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'precio_venta2' ) }}</i>
                            </span>
                        </div>
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                formControlName="precio_venta3" 
                                type="text" id="precio_venta3" name="precio_venta3" placeholder="precio_venta3" maxlength="9"
                                label="Precio de venta 3" floating-label>
                        </mdl-textfield>
                        <div [hidden]="!(frmProducto.controls.precio_venta3.touched && !frmProducto.controls.precio_venta3.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'precio_venta3' ) }}</i>
                            </span>
                        </div>
                    </div>        
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                formControlName="precio_venta4" 
                                type="text" id="precio_venta4" name="precio_venta4" placeholder="precio_venta4" maxlength="9"
                                label="Precio de venta 4" floating-label>
                        </mdl-textfield>
                        
                        <div [hidden]="!(frmProducto.controls.precio_venta4.touched && !frmProducto.controls.precio_venta4.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'precio_venta4' ) }}</i>
                            </span>
                        </div>
                    </div>  
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                formControlName="precio_venta5" 
                                type="text" id="precio_venta5" name="precio_venta5" placeholder="precio_venta5" maxlength="9"
                                label="Precio de venta 5" floating-label>
                        </mdl-textfield>
                        
                        <div [hidden]="!(frmProducto.controls.precio_venta5.touched && !frmProducto.controls.precio_venta5.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'precio_venta5' ) }}</i>
                            </span>
                        </div>
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
                        <mdl-textfield 
                                formControlName="existencia" 
                                type="text" id="existencia" name="existencia" placeholder="existencia" maxlength="12"
                                label="Existencia" floating-label>
                        </mdl-textfield>
                        
                        <div [hidden]="!(frmProducto.controls.existencia.touched && !frmProducto.controls.existencia.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'existencia' ) }}</i>
                            </span>
                        </div>
                    </div>    
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                formControlName="saldo_pedido" 
                                type="text" id="saldo_pedido" name="saldo_pedido" placeholder="saldo_pedido" maxlength="12"
                                label="Saldo pedido" floating-label>
                        </mdl-textfield>
                        
                        <div [hidden]="!(frmProducto.controls.saldo_pedido.touched && !frmProducto.controls.saldo_pedido.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'saldo_pedido' ) }}</i>
                            </span>
                        </div>
                    </div>      
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                formControlName="costo_promedio"
                                type="text" id="costo_promedio" name="costo_promedio" placeholder="costo_promedio" maxlength="12"
                                label="Costo promedio" floating-label>
                        </mdl-textfield>
                        
                        <div [hidden]="!(frmProducto.controls.costo_promedio.touched && !frmProducto.controls.costo_promedio.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'costo_promedio' ) }}</i>
                            </span>
                        </div>
                    </div>      
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                formControlName="costo_ultima_compra" 
                                type="text" id="costo_ultima_compra" name="costo_ultima_compra" placeholder="costo_ultima_compra" maxlength="12"
                                label="Costo última compra" floating-label>
                        </mdl-textfield>
                        
                        <div [hidden]="!(frmProducto.controls.costo_ultima_compra.touched && !frmProducto.controls.costo_ultima_compra.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'costo_ultima_compra' ) }}</i>
                            </span>
                        </div>
                    </div>          
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                formControlName="costo_fob"
                                type="text" id="costo_fob" name="costo_fob" placeholder="costo_fob" maxlength="12"
                                label="Costo FOB" floating-label>
                        </mdl-textfield>
                        
                        <div [hidden]="!(frmProducto.controls.costo_fob.touched && !frmProducto.controls.costo_fob.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'costo_fob' ) }}</i>
                            </span>
                        </div>
                    </div>               
                </div>
            </mdl-tab-panel-content>

        </mdl-tab-panel>



        <mdl-tab-panel>

            <mdl-tab-panel-title>
                <mdl-icon class="mdl-color-text--primary">person</mdl-icon>
                <span>Parámetros</span>
            </mdl-tab-panel-title>
            <mdl-tab-panel-content>   
                <div class="mdl-grid">
                    <div class="mdl-cell">
                        <div class="mdl-grid">
                            <div class="mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone graybox">
                                <h5>Legales</h5>
                            </div>
                            <div class="mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone graybox">
                                <label>*Tipo de IVA venta: </label>
                                <br/>
                                <select formControlName="tipo_iva_venta" id="tipo_iva_venta" name="tipo_iva_venta">
                                    <option [value]="o.id" *ngFor="let o of tiposDeIva">{{o.nombre}}</option>
                                </select>
                            </div>
                            
                            <div class="mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                <label>*Tipo de IVA compra: </label>
                                <br/>
                                <select formControlName="tipo_iva_compra" id="tipo_iva_compra" name="tipo_iva_compra">
                                    <option [value]="o.id" *ngFor="let o of tiposDeIva">{{o.nombre}}</option>
                                </select>
                            </div>
                            
                            <div class="mdl-cell--12-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                <mdl-textfield 
                                        formControlName="registro_invima" 
                                        type="text" id="registro_invima" name="registro_invima" placeholder="registro_invima" maxlength="30"
                                        label="Registro invima" floating-label>
                                </mdl-textfield>
                                
                                <div [hidden]="!(frmProducto.controls.registro_invima.touched && !frmProducto.controls.registro_invima.valid)">
                                    <span class="fieldvalidate-error">
                                        <i>> {{ errors( 'registro_invima' ) }}</i>
                                    </span>
                                </div>
                            </div>       
                            <div class="mdl-cell--12-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                <mdl-textfield 
                                        formControlName="numero_meses_garantia" 
                                        type="text" id="numero_meses_garantia" name="numero_meses_garantia" placeholder="numero_meses_garantia" maxlength="30"
                                        label="Número de meses de garantia" floating-label>
                                </mdl-textfield>
                                
                                <div [hidden]="!(frmProducto.controls.numero_meses_garantia.touched && !frmProducto.controls.numero_meses_garantia.valid)">
                                    <span class="fieldvalidate-error">
                                        <i>> {{ errors( 'numero_meses_garantia' ) }}</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell">
                        <div class="mdl-grid">
                            <div class="mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone graybox">
                                <h5>Controles sobre valores y cantidades</h5>
                            </div>
                            <div class="mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                <mdl-textfield 
                                        formControlName="stock_minimo" 
                                        type="text" id="stock_minimo" name="stock_minimo" placeholder="stock_minimo" maxlength="12"
                                        label="Stock mínimo" floating-label>
                                </mdl-textfield>
                                
                                <div [hidden]="!(frmProducto.controls.stock_minimo.touched && !frmProducto.controls.stock_minimo.valid)">
                                    <span class="fieldvalidate-error">
                                        <i>> {{ errors( 'stock_minimo' ) }}</i>
                                    </span>
                                </div>
                            </div>
                            <div class="mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                <mdl-textfield 
                                        formControlName="stock_maximo" 
                                        type="text" id="stock_maximo" name="stock_maximo" placeholder="stock_maximo" maxlength="12"
                                        label="Stock máximo" floating-label>
                                </mdl-textfield>
                                
                                <div [hidden]="!(frmProducto.controls.stock_maximo.touched && !frmProducto.controls.stock_maximo.valid)">
                                    <span class="fieldvalidate-error">
                                        <i>> {{ errors( 'stock_maximo' ) }}</i>
                                    </span>
                                </div>
                            </div>   
                            <div class="mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                <mdl-textfield 
                                        formControlName="porc_max_dto_contado" 
                                        type="text" id="porc_max_dto_contado" name="porc_max_dto_contado" placeholder="porc_max_dto_contado" maxlength="2"
                                        label="% Máx de Dto pago de contado" floating-label>
                                </mdl-textfield>
                                
                                <div [hidden]="!(frmProducto.controls.porc_max_dto_contado.touched && !frmProducto.controls.porc_max_dto_contado.valid)">
                                    <span class="fieldvalidate-error">
                                        <i>> {{ errors( 'porc_max_dto_contado' ) }}</i>
                                    </span>
                                </div>
                            </div>
                            <div class="mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                <mdl-textfield 
                                        formControlName="porc_max_dto_credito" 
                                        type="text" id="porc_max_dto_credito" name="porc_max_dto_credito" placeholder="porc_max_dto_credito" maxlength="2"
                                        label="% Máx de Dto pago a credito" floating-label>
                                </mdl-textfield>
                                
                                <div [hidden]="!(frmProducto.controls.porc_max_dto_credito.touched && !frmProducto.controls.porc_max_dto_credito.valid)">
                                    <span class="fieldvalidate-error">
                                        <i>> {{ errors( 'porc_max_dto_credito' ) }}</i>
                                    </span>
                                </div>
                            </div>
                            <div class="mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                <mdl-textfield 
                                        formControlName="porc_comision_venta" 
                                        type="text" id="porc_comision_venta" name="porc_comision_venta" placeholder="porc_comision_venta" maxlength="2"
                                        label="% de comisión por venta" floating-label>
                                </mdl-textfield>
                                
                                <div [hidden]="!(frmProducto.controls.porc_comision_venta.touched && !frmProducto.controls.porc_comision_venta.valid)">
                                    <span class="fieldvalidate-error">
                                        <i>> {{ errors( 'porc_comision_venta' ) }}</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  <!--    ficha parametros  -->                
            </mdl-tab-panel-content>

        </mdl-tab-panel>

        <mdl-tab-panel>

            <mdl-tab-panel-title>
                <mdl-icon class="mdl-color-text--primary">person</mdl-icon>
                <span>Parámetros (S/N)</span>
            </mdl-tab-panel-title>
            <mdl-tab-panel-content> 
                <div class="mdl-grid">
                    <div class="mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <div class="mdl-grid">
                            <div class="mdl-cell--7-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor">
                                <label>*Producto activo: </label>
                            </div>
                            <div class="mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor">
                                <mdl-radio  
                                        formControlName="producto_activo"
                                        [value]="o.codigo"
                                        *ngFor="let o of activaciones">
                                    {{o.nombre}}
                                </mdl-radio>
                            </div>
                                
                            
                            <div class="mdl-cell--7-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor-contrast">
                                <label>*Producto se vende: </label>
                            </div>
                            <div class="mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor-contrast">
                                <mdl-radio  
                                        formControlName="producto_se_vende"
                                        [value]="o.codigo"
                                        *ngFor="let o of activaciones">
                                    {{o.nombre}}
                                </mdl-radio>
                            </div>
                            
                            <div class="mdl-cell--7-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor">
                                <label>*Precio fijo: </label>
                            </div>
                            <div class="mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor">
                                <mdl-radio  
                                        formControlName="precio_fijo"
                                        [value]="o.codigo"
                                        *ngFor="let o of activaciones">
                                    {{o.nombre}}
                                </mdl-radio>
                            </div>
                            
                            <div class="mdl-cell--7-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor-contrast">
                                <label>*Usa control de lotes: </label>
                            </div>
                            <div class="mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor-contrast">
                                <mdl-radio  
                                        formControlName="usa_control_lotes"
                                        [value]="o.codigo"
                                        *ngFor="let o of activaciones">
                                    {{o.nombre}}
                                </mdl-radio>
                            </div>
                            
                            
                            <div class="mdl-cell--7-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor">
                                <label>*Aplica para pedido: </label>
                            </div>
                            <div class="mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor">
                                <mdl-radio  
                                        formControlName="aplica_para_pedido"
                                        [value]="o.codigo"
                                        *ngFor="let o of activaciones">
                                    {{o.nombre}}
                                </mdl-radio>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <div class="mdl-grid">
                            <div class="mdl-cell--7-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor-contrast">
                                <label>*Usa seriales: </label>
                            </div>
                            <div class="mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor-contrast">
                                <mdl-radio  
                                        formControlName="usa_seriales"
                                        [value]="o.codigo"
                                        *ngFor="let o of activaciones">
                                    {{o.nombre}}
                                </mdl-radio>
                            </div>
                            
                            
                            <div class="mdl-cell--7-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor">
                                <label class="col s12">*Producto en consignación: </label>
                            </div>
                            <div class="mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor">
                                <mdl-radio  
                                        formControlName="producto_en_consig"
                                        [value]="o.codigo"
                                        *ngFor="let o of activaciones">
                                    {{o.nombre}}
                                </mdl-radio>
                            </div>
                            
                            
                            <div class="mdl-cell--7-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor-contrast">
                                <label>*Producto controlado: </label>
                            </div>
                            <div class="mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor-contrast">
                                <mdl-radio  
                                        formControlName="producto_controlado"
                                        [value]="o.codigo"
                                        *ngFor="let o of activaciones">
                                    {{o.nombre}}
                                </mdl-radio>
                            </div>

                            <div class="mdl-cell--7-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor">
                                <label>*Permite negativos: </label>
                            </div>
                            <div class="mdl-cell--5-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone cellbackcolor">
                                <mdl-radio  
                                        formControlName="permite_negativos"
                                        [value]="o.codigo"
                                        *ngFor="let o of activaciones">
                                    {{o.nombre}}
                                </mdl-radio>
                            </div>
                        </div>
                    </div>
                </div>                                    
            </mdl-tab-panel-content>
        </mdl-tab-panel>

        <mdl-tab-panel>

            <mdl-tab-panel-title>
                <mdl-icon class="mdl-color-text--primary">person</mdl-icon>
                <span>Otros</span>
            </mdl-tab-panel-title>
            <mdl-tab-panel-content> 
                <div class="mdl-grid">
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                type="text" id="color_agenda" name="color_agenda" placeholder="color_agenda" maxlength="12"
                                formControlName="color_agenda" 
                                label="Color agenda" floating-label>
                        </mdl-textfield>
                        <div [hidden]="!(frmProducto.controls.color_agenda.touched && !frmProducto.controls.color_agenda.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'color_agenda' ) }}</i>
                            </span>
                        </div>
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <label>Presentación: </label>
                        <br/>
                        <select formControlName="presentacion" id="presentacion" name="presentacion">
                            <option [value]="o.id" *ngFor="let o of presentaciones">{{o.nombre}}</option>
                        </select>
                    </div>  
                    
                    <div class="mdl-cell--6-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
                    </div>

                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <label>Vía administración: </label>
                        <br/>
                        <select formControlName="via_administracion" id="via_administracion" name="via_administracion">
                            <option [value]="o.id" *ngFor="let o of vias">{{o.nombre}}</option>
                        </select>
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <label>Estado: </label>
                        <br/>
                        <select formControlName="estado" id="estado" name="estado" >
                            <option [value]="o.codigo" *ngFor="let o of estado">{{o.nombre}}</option>
                        </select>
                    </div>
                </div>  
            </mdl-tab-panel-content>
        </mdl-tab-panel>
     </mdl-tabs>
    </div>  
        <div>
            <button 
                    (click)="save()" [disabled]="!frmProducto.valid" 
                    mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
                {{botonGuardar}}
            </button>
            <button 
                    (click)="goToList()"
                    mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
                {{botonRegresar}}
            </button>
        </div>
</form>