<form  *ngIf="vObj" [formGroup]="frmDocumento" novalidate >
    <input type="hidden" id="id" name="id" formControlName="id" />
    <div class="mdl-grid">
        <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h3>{{title}}</h3>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-grid">

                    <!-- [(ngModel)]="user.tipo_pago"  -->
                    <div>
                        <label>Tipo de pago</label>
                        <div *ngFor="let tipo_pago of opcionTiposPago">
                            <label>
                                <input type="radio" name="tipo_pago" 
                                    
                                    [value]="tipo_pago.value" (change)="radioTipoPago( tipo_pago.value )">{{tipo_pago.opcion}}
                            </label>
                        </div>
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <div [hidden]="!visibleConcepto">
                            <label>Concepto: </label>
                            <select formControlName="concepto" id="concepto" name="concepto"
                                [disabled]="!enableConcepto">
                                <option [value]="o.id" *ngFor="let o of conceptos">{{o.nombre}}</option>
                            </select>
                        </div>
                    </div>    
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                type="text" id="fecha" name="fecha" placeholder="fecha" 
                                formControlName="fecha" 
                                label="Fecha" floating-label >
                        </mdl-textfield>
                        <div [hidden]="!(frmDocumento.controls.fecha.touched && !frmDocumento.controls.fecha.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'fecha' ) }}</i>
                            </span>
                        </div>
                    </div>   
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                type="text" id="codigo" name="codigo" placeholder="codigo" 
                                formControlName="codigo"
                                label="Consecutivo" floating-label >
                        </mdl-textfield>
                        <div [hidden]="!(frmDocumento.controls.codigo.touched && !frmDocumento.controls.codigo.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'codigo' ) }}</i>
                            </span>
                        </div>
                    </div>   
                    <autocomplete id="terceros" name="terceros"
                        (blur)="blurTerceros( $event )" 
                        [urlApi]="urlApi" 
                        [tabla]="pathTerceros" 
                        [campo]="fieldTerceros" 
                        [etiqueta]="labelTerceros">
                    </autocomplete>            
                    <div class="mdl-cell--3-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
                    </div>       
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                type="text" id="direccion" name="direccion" placeholder="direccion" 
                                formControlName="direccion"  
                                label="Dirección" floating-label >
                        </mdl-textfield>
                        <div [hidden]="!(frmDocumento.controls.direccion.touched && !frmDocumento.controls.direccion.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'direccion' ) }}</i>
                            </span>
                        </div>
                    </div>    
                    
                    <div class="mdl-cell--3-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <div>
                            <label>Bodega origen: </label>
                            <select formControlName="bodegaOrigen" id="bodegaOrigen" name="bodegaOrigen" >
                                <option [value]="o.id" *ngFor="let o of origenes">{{o.nombre}}</option>
                            </select>
                        </div>
                    </div>         
                    <div class="mdl-cell--3-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <div>
                            <label>Bodega destino: </label>
                            <select formControlName="bodegaDestino" id="bodegaDestino" name="bodegaDestino" >
                                <option [value]="o.id" *ngFor="let o of destinos">{{o.nombre}}</option>
                            </select>
                        </div>
                    </div>                            
                </div>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-grid">
                    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h3>Listado de productos</h3>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
                                <thead>
                                    <tr>
                                        <th>ID</th>    
                                        <th class="mdl-data-table__cell--non-numeric">Descripción</th>
                                        <th class="mdl-data-table__cell--non-numeric">Marca</th>
                                        <th class="mdl-data-table__cell--non-numeric">Unidad de medida</th>
                                        <th>Valor unitario</th>
                                        <th>Cantidad</th>
                                        <th>Descuento</th>
                                        <th>Sub-Total</th>
                                    </tr>   
                                </thead>    
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <autocomplete id="producto" name="producto"
                                (blur)="blurProductos( $event )" 
                                [urlApi]="urlApi" 
                                [tabla]="pathProducto" 
                                [campo]="fieldProducto" 
                                [etiqueta]="labelProducto">
                            </autocomplete>
                            <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                <mdl-textfield 
                                        type="text" id="codigo_producto" name="codigo_producto" placeholder="codigo_producto" [value]="objProducto.codigo"
                                        
                                        [disabled]="!enabledDefault"
                                        label="Código" floating-label >
                                </mdl-textfield>
                            </div>
                            <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                <mdl-textfield 
                                        type="text" id="descripcion2" name="descripcion2" placeholder="descripcion2" 
                                        [disabled]="!enabledDefault" [value]="objProducto.descripcion2"
                                        
                                        label="Descripción" floating-label >
                                </mdl-textfield>
                            </div>        
                            <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                <mdl-textfield 
                                        type="text" id="precioventa1" name="precioventa1" placeholder="precioventa1" 
                                        [value]="objProducto.precio_venta1"
                                        
                                        label="Valor unitario" floating-label >
                                </mdl-textfield>
                            </div>   
                            <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                <mdl-textfield 
                                        type="text" id="marca" name="marca" placeholder="marca" 
                                        [disabled]="!enabledDefault" [value]="objProducto.marca"
                                        
                                        label="Marca" floating-label >
                                </mdl-textfield>
                            </div>   
                            <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                <mdl-textfield 
                                        type="text" id="unidad_medida" name="unidad_medida" placeholder="unidad_medida" 
                                        [disabled]="!enabledDefault" [value]="objProducto.unidad_medida"
                                        
                                        label="Unidad de medida" floating-label >
                                </mdl-textfield>
                            </div>   
                            <button 
                                (click)="agregar(objProducto)"  
                                mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
                                {{botonAgregar}}
                            </button>                                                                                                     
                        </div>    
                    </div>
                </div>        
            </div>    
        </div>
    </div>        
    <br/>
    <p>
        <button 
                (click)="save()" [disabled]="!frmDocumento.valid" 
                mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
            {{botonGuardar}}
        </button>
        <button 
                (click)="goToList()"
                mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
            {{botonRegresar}}
        </button>
    </p>
</form>