<form  *ngIf="vObj" [formGroup]="frmDocumento" novalidate >
    <input type="hidden" id="id" name="id" formControlName="id" />
    <div class="mdl-grid">
        <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h3>{{title}}</h3>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-grid">

                    <!-- [(ngModel)]="user.tipo_pago"  -->
                    <div [hidden]="!visibleTipoPago">
                        <label>Tipo de pago</label>
                        <div *ngFor="let tipo_pago of opcionTiposPago">
                            <label>
                                <input type="radio" name="tipo_pago" 
                                    [disabled]="!enableTipoPago"
                                    [value]="tipo_pago.value" 
                                    (change)="radioTipoPago( tipo_pago.value )">{{tipo_pago.opcion}}
                            </label>
                        </div>
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <div [hidden]="!visibleConcepto">
                            <label>Concepto: </label>
                            <select formControlName="concepto" id="concepto" name="concepto"
                                [disabled] = "!enableConcepto">
                                <option [value]="o.id" *ngFor="let o of conceptos">{{o.nombre}}</option>
                            </select>
                        </div>
                    </div>    
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                [hidden]   = "!visibleFecha"
                                [disabled] = "!enableFecha"
                                type="text" id="fecha" name="fecha" placeholder="fecha" 
                                formControlName="fecha" 
                                label="Fecha" floating-label >
                        </mdl-textfield>
                        <div [hidden]="!(frmDocumento.controls.fecha.touched && !frmDocumento.controls.fecha.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'fecha' ) }}</i>
                            </span>
                        </div>
                    </div>   
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                [hidden]   = "!visibleConsecutivo"
                                [disabled] = "!enableConsecutivo"
                                type="text" id="codigo" name="codigo" placeholder="" 
                                formControlName="codigo"
                                label="Consecutivo" floating-label >
                        </mdl-textfield>
                        <div [hidden]="!(frmDocumento.controls.codigo.touched && !frmDocumento.controls.codigo.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'codigo' ) }}</i>
                            </span>
                        </div>
                    </div>   
                    <autocomplete id="terceros" name="terceros"
                        [hidden]   = "!visibleTerceroComponent"
                        [urlApi]   = "urlApi" 
                        [tabla]    = "pathTerceros" 
                        [campo]    = "fieldTerceros" 
                        [etiqueta] = "labelTerceros"
                        (blur)     = "blurTerceros( $event )">
                    </autocomplete>    
                          
                    <mdl-textfield type="hidden"
                            [hidden]   = "!visibleTercero"
                            [disabled] = "!enableTercero"
                            [value]    = "objTercero.codigo"
                            type="text" id="tercero" name="tercero" placeholder="" 
                            formControlName="tercero"
                            label="Tercero" floating-label >
                    </mdl-textfield>
                    
                    <div class="mdl-cell--3-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
                    </div>       
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <mdl-textfield 
                                [hidden]   = "!visibleDireccion"
                                [disabled] = "!enableDireccion"
                                [value]    = "objTercero.direccion"
                                formControlName="direccion"  
                                type="text" id="direccion" name="direccion" placeholder="" 
                                label="Dirección" floating-label >
                        </mdl-textfield>
                        <div [hidden]="!(frmDocumento.controls.direccion.touched && !frmDocumento.controls.direccion.valid)">
                            <span class="fieldvalidate-error">
                                <i>> {{ errors( 'direccion' ) }}</i>
                            </span>
                        </div>
                    </div>    
                    
                    <div class="mdl-cell--3-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <div [hidden]="!visibleBodegaOrigen">
                            <label>Bodega origen: </label>
                            <select
                                [disabled] = "!enableBodegaOrigen"
                                formControlName="bodegaOrigen" 
                                id="bodegaOrigen" name="bodegaOrigen" >
                                <option [value]="o.id" *ngFor="let o of origenes">{{o.nombre}}</option>
                            </select>
                        </div>
                    </div>         
                    <div class="mdl-cell--3-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
                    </div>
                    <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <div [hidden]="!visibleBodegaDestino">
                            <label>Bodega destino: </label>
                            <select 
                                [disabled] = "!enableBodegaDestino"
                                formControlName="bodegaDestino" 
                                id="bodegaDestino" name="bodegaDestino" >
                                <option [value]="o.id" *ngFor="let o of destinos">{{o.nombre}}</option>
                            </select>
                        </div>
                    </div>                            
                </div>
            </div>
            <div class="" [hidden]="!visibleListaProductos">
                <div class="">
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h3>Listado de productos</h3>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
                                <thead>
                                    <tr>
                                        <th>ID</th>    
                                        <th class="mdl-data-table__cell--non-numeric">Descripción</th>
                                        <th class="mdl-data-table__cell--non-numeric">Marca</th>
                                        <th class="mdl-data-table__cell--non-numeric">Unidad de medida</th>
                                        <th>Valor unitario</th>
                                        <th>Cantidad</th>
                                        <th>Descuento</th>
                                        <th>Sub-Total</th>
                                    </tr>   
                                </thead>    
                                <tbody>
                                    <tr *ngFor="let o of list_producto">
                                        <th>{{ o.codigo }}</th>    
                                        <th class="mdl-data-table__cell--non-numeric">{{ o.descripcion1 }}</th>
                                        <th class="mdl-data-table__cell--non-numeric">{{ o.marca }}</th>
                                        <th class="mdl-data-table__cell--non-numeric">{{ o.unidad_medida }}</th>
                                        <th class="mdl-data-table__cell--non-numeric">{{ o.precio_venta1 }}</th>
                                        <th>{{ o.cantidad }}</th>
                                        <th>{{ o.porc_max_dto_contado }}</th>
                                        <th>{{ o.sub_total }}</th>
                                    </tr>         
                                </tbody>
                            </table>
                        </div>   
                    </div>
                </div>        
            </div>  
            <div class="mdl-card__supporting-text">
                <div class="mdl-grid">
                   <div class="mdl-card__actions mdl-card--border">
                        <autocomplete id="producto" name="producto"
                            [hidden]   = "!visibleProducto" 
                            [urlApi]="urlApi" 
                            [tabla]="pathProducto" 
                            [campo]="fieldProducto" 
                            [etiqueta]="labelProducto"
                            (blur)="blurProductos( $event )">
                        </autocomplete>
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="codigo_producto" name="codigo_producto" placeholder="" 
                                    [hidden]   = "!visibleCodigoProducto"
                                    [disabled] = "!enableCodigoProducto" 
                                    [value]="objProducto.codigo"                                   
                                    label="Código" floating-label >
                            </mdl-textfield>
                        </div>
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="descripcion2" name="descripcion2" placeholder="" 
                                    [hidden]   = "!visibleDescripcion"
                                    [disabled] = "!enableDescripcion" 
                                    [value]="objProducto.descripcion2"           
                                    label="Descripción" floating-label >
                            </mdl-textfield>
                        </div>        
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="cantidad" name="precioventa1" placeholder="" 
                                    [hidden]   = "!visibleValorUnitario"
                                    [disabled] = "!enableValorUnitario" 
                                    [value]="objProducto.precio_venta1"
                                    
                                    label="Valor unitario" floating-label >
                            </mdl-textfield>
                        </div>   
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="marca" name="marca" placeholder="" 
                                    [hidden]   = "!visibleMarca"
                                    [disabled] = "!enableMarca"                                     
                                    [value]="objProducto.marca"                         
                                    label="Marca" floating-label >
                            </mdl-textfield>
                        </div>   
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="unidad_medida" name="unidad_medida" placeholder=""
                                    [hidden]   = "!visibleUnidadMedida"
                                    [disabled] = "!enableUnidadMedida"  
                                    [value]="objProducto.unidad_medida"                                
                                    label="Unidad de medida" floating-label >
                            </mdl-textfield>
                        </div>   
                       <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="existencia" name="existencia" placeholder="" 
                                    [hidden]   = "!visibleExistencia"
                                    [disabled] = "!enableExistencia" 
                                    [value]="objProducto.existencia"
                                    
                                    label="Existencia" floating-label >
                            </mdl-textfield>
                        </div>                         
                        <div class="mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                            <mdl-textfield 
                                    type="text" id="cantidad" name="cantidad" placeholder="" 
                                    [hidden]   = "!visibleCantidad"
                                    [disabled] = "!enableCantidad" 
                                    [value]="objProducto.cantidad"
                                    
                                    label="Cantidad" floating-label >
                            </mdl-textfield>
                        </div> 
                        <button 
                            (click)="agregar(objProducto)"  
                            mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
                            {{botonAgregar}}
                        </button>                                                                                                     
                    </div>                
                </div>
            </div>  
        </div>
    </div>        
    <br/>
    <p>
        <button 
                (click)="save()" [disabled]="!frmDocumento.valid" 
                mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
            {{botonGuardar}}
        </button>
        <button 
                (click)="goToList()"
                mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
            {{botonRegresar}}
        </button>
    </p>
</form>